.general {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loaderContainer {
    width: 100px;
    height: 100px;
}

.ldsDualRing {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .ldsDualRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: ldsDualRing 1.2s linear infinite;
  }
  @keyframes ldsDualRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.text {
    padding-top: 20px;
    font-size: 20px;
    line-height: 22px;
}